node_modules/
npm-debug.log

# Laravel 5 & Lumen specific
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.vagrant
yarn-error.log